nav{
	opacity:0.8;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.nav-wrapper a{
	color: #2d3436;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);	
}
.nav-wrapper a i{
	font-size: 	4rem;
}
ul li a{
	color: #2d3436;
	font-weight: bold;

}
.slider{
	margin-top: -60px;
}
.slider h3,
.slider h5,
.clients h3{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
/* .about{
	margin-bottom: 80px;
	margin-top: 50px;
} */
.parallax-container{
	height: 30%;
}
.parallax img{
	filter: grayscale(1);
	opacity: 0.5 !important;
}
.clients img{
	max-width: 200px;
	max-height: 200px;
}
section,footer{
	padding: 15px 0;
}
.material-icons{
	font-size: 4rem;
}
